    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=resource.author.username) }}">
                    <img src="{{ resource.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <span id="resource{{ resource.id }}nom">
                    <a href="{{ resource.link }}">
                        {{ resource.nom }}
                    </a>
                </span>
            </td>
            <td>
                <span id="resource{{ resource.id }}tipus">{{ resource.tipus }}</span>
            </td>
            <td>
                <span id="resource{{ resource.id }}idioma">{{ resource.idioma }}</span>
            </td>
            <td>
                <span id="resource{{ resource.id }}descripcio">{{ resource.descripcio }}</span>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=resource.author.username) }}">
                        {{ resource.author.username }}
                    </a>
                {% endset %}
                {{ _('%(username)', username=user_link) }}
            </td>
            <td>
               {{ _('%(when)', when=moment(resource.timestamp).fromNow()) }}
            </td>
        </tr>
    </table>
